<!DOCTYPE html>
<html>
	<head>
		{{ template "header.tmpl.html" }}
		<title>Alira Commerce * Customer List</title>
	</head>
	<body>
		{{ template "nav.tmpl.html" . }}
		<main class="container-fluid" role="main">
			<div class="btn-toolbar" role="toolbar" aria-label="toolbar">
				<!--<div class="input-group input-group-sm w-25">
					<input type="text" class="form-control" placeholder="Search keyword..." aria-label="Input group example" aria-describedby="btnGroupAddon">
					<div class="input-group-append">
						<button class="btn btn-success" type="button" id="btnGroupAddon"><i class="zmdi zmdi-search zmdi-hc-lg"></i></button>
					</div>
				</div>-->
				<div class="btn-group btn-group-sm mr-2" role="group" aria-label="First group">
					<a type="button" class="btn btn-success" href="/customer/action?name=create"><i class="zmdi zmdi-account-add zmdi-hc-lg"></i> New</a>
				</div>
				<div class="btn-group btn-group-sm mr-2" role="group" aria-label="Second group">
					<a type="button" class="btn btn-secondary" href="/customer/action?name=refresh"><i class="zmdi zmdi-refresh zmdi-hc-lg"></i> Refresh</a>
					<div class="btn-group btn-group-sm" role="group">
						<button id="btnGroupDrop1" type="button" class="btn btn-secondary dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
							<i class="zmdi zmdi-download zmdi-hc-lg"></i> Download
						</button>
						<div class="dropdown-menu" aria-labelledby="btnGroupDrop1">
						  <a class="dropdown-item" href="/customer/action?name=refresh&file=pdf">PDF File</a>
						  <a class="dropdown-item" href="/customer/action?name=refresh&file=xls">Ms. Excel</a>
						</div>
					  </div>
				</div>
			</div>
			{{ $paginator := .data }}
			{{ $records := $paginator.Records }}
			{{ $length := len $records }}
			<table class="table table-sm table-bordered table-striped table-hover mt-2">
				<thead class="text-center">
					<tr>
					<th scope="col">Customer ID</th>
					<th scope="col">Name</th>
					<th scope="col">Email</th>
					<th scope="col">Mobile</th>
					<th scope="col">Payment</th>
					<th scope="col">Action</th>
					</tr>
				</thead>
				<tbody>
				{{ if gt $length 0 }}
					{{ range $record := $records }}
					<tr>
						<td class="text-center"><a class="text-decoration-none" href="/customer/action?name=detail&id={{ $record.ID }}">{{ $record.Code }}</a></td>
						<td>{{ $record.Name }}</td>
						<td>{{ $record.Email }}</td>
						<td>{{ $record.Mobile }}</td>
						<td class="text-center">{{ if eq $record.Payment true }} 
							<span class="badge badge-success">Enabled</span> 
							{{ else }} 
							<span class="badge badge-danger">Disabled</span> 
							{{ end }}</td>
						<td class="text-center">
							<a class="btn btn-sm btn-outline-light text-warning" title="Edit" data-toggle="tooltip"><i class="zmdi zmdi-edit"></i></a>
							<a class="btn btn-sm btn-outline-light text-danger" title="Delete" data-toggle="tooltip"><i class="zmdi zmdi-delete"></i></a>
						</td>
					</tr>
					{{ end }}
				{{ else }}
					<tr>
						<td colspan="6" class="text-center font-weight-lighter font-italic text-danger">No data to display</td>
					</tr>
				{{ end }}
				</tbody>
			</table>
			{{ if gt $paginator.TotalPage 0}}
			<div class="d-flex justify-content-end">
				<div class="btn-toolbar mb-3" role="toolbar" aria-label="Toolbar with button groups">
					<div class="btn-group btn-group-sm" role="group" aria-label="First group">
						<button class="btn btn-outline-secondary" type="button" onclick="doChangePage('first', '{{ $paginator.TotalPage }}', '{{ $paginator.CurrentPage }}')"><i class="zmdi zmdi-skip-previous"></i> First</button>
						<button class="btn btn-outline-secondary rounded-0" type="button" onclick="doChangePage('prev', '{{ $paginator.TotalPage }}', '{{ $paginator.CurrentPage }}')"><i class="zmdi zmdi-fast-rewind"></i> Prev</button>
					</div>
					<div class="input-group input-group-sm">
						<input type="text" class="form-control text-center rounded-0" style="flex: none;width: 55px;" value="{{ $paginator.CurrentPage }}" aria-describedby="basic-addon2">
						<div class="input-group-append">
							<span class="input-group-text text-center rounded-0" style="width: 55px;" id="basic-addon2">of {{ $paginator.TotalPage }}</span>
						</div>
					</div>
					<div class="btn-group btn-group-sm" role="group" aria-label="Second group">
						<button class="btn btn-outline-secondary rounded-0" type="button" onclick="doChangePage('next', '{{ $paginator.TotalPage }}', '{{ $paginator.CurrentPage }}')">Next <i class="zmdi zmdi-fast-forward"></i></button>
						<button class="btn btn-outline-secondary" type="button" onclick="doChangePage('last', '{{ $paginator.TotalPage }}', '{{ $paginator.CurrentPage }}')">Last <i class="zmdi zmdi-skip-next"></i></button>
					</div>
				</div>
			</div>
			{{ end }}
		</main>
		</div>
		{{ template "footer.tmpl.html" .}}
		<script>
			function doChangePage(evt, total, current) {
				if (evt == 'next') {
					if (total > current) {
						current++;
					}
				} else if (evt == 'last') {
					current = total;
				} else if (evt == "prev") {
					if (1 < current) {
						current--;
					}
				} else {
					current = 1;
				}
				window.location = "http://localhost:9001/customer?page=" + current;
			}
		</script>
    </body>
</html>